# Compiled JavaScript and source maps
/dist
/build
/lib
*.js
*.js.map
*.d.ts

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env
.env.*
!.env.example # Allow an example file to be committed

# Testing
coverage
.nyc_output

# Editor/IDE-specific files
.vscode/ # VS Code
.idea/   # WebStorm/IntelliJ
.DS_Store # macOS
Thumbs.db # Windows
